<div class="ui container">
  <div class="ui segments">
    <div class="ui segment">
      <h2>
        <center>Log In</center>
      </h2>
      <%= form_tag login_path, class: "ui large form" do %>
        <div class="ui secondary segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="mail outline orange icon"></i>
                <%= text_field_tag :email, nil, placeholder: "Email Address" %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock orange icon"></i>
                <%= password_field_tag :password, nil, placeholder: "Password" %>
            </div>
          </div>
            <%= submit_tag "Submit", class: "ui yellow fluid large button" %>
        </div>
      <% end %>
      <div class="ui segments">
        <div class="ui secondary segment"> 
          <center>New to us? <%= link_to "Register", signup_path, class: "link" %></center>
        </div>
      </div>
    </div>
  </div>
</div>
