<div class="ui middle aligned center loginform">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Sign Up
      </div>
    </h2>
    <%= form_for :user, url: users_path, class: "ui large form" do |f| %>
      <div class="ui stacked secondary segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
              <%= f.text_field :name, placeholder: "Name" %><br>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail outline icon"></i>
              <%= f.text_field :email, placeholder: "E-mail Address" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
              <%= f.password_field :password, placeholder: "Password" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
              <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
          </div>
        </div>
          <%= f.submit "Submit", class: "ui fluid large button" %>
      </div>
    <% end %>
    <div class="ui message"> Already a member? <%= link_to "Log In", login_path %></div>
  </div>
</div>