<div class="fieldset legend center">
  <div id="change-width">
  <%= form_for :user, url: users_path, class: "change-width" do |f| %>
    <center><h3>Sign Up</h3>
    Name: <br>
    <%= f.text_field :name, style: "width:400px" %><br>
    Email: <br>
    <%= f.text_field :email, style: "width:400px" %><br>
    Password: <br>
    <%= f.password_field :password, style: "width:400px" %> <br>
    Confirm Password:  <br>
    <%= f.password_field :password_confirmation, style: "width:400px" %><br><br>
    <%= f.submit "submit", class: "submit-button" %></center>

  <% end %>
  </div>
</div>