<div class="ui container">
  <div class="ui segments">
    <div class="ui segment">
      <h2><center>Sign Up</center></h2>
      <%= form_for :user, url: users_path, class: "ui large form" do |f| %>
      <div class="ui secondary segment">
        <div class="field">
          <div class="ui left icon fluid input">
            <i class="user orange icon"></i>
              <%= f.text_field :name, placeholder: "Name" %>
          </div>
        </div><br>
        <div class="field">
          <div class="ui left icon fluid input">
            <i class="mail orange outline icon"></i>
              <%= f.text_field :email, placeholder: "E-mail Address" %><br>
          </div>
        </div><br>
        <div class="field">
          <div class="ui left icon fluid input">
            <i class="lock orange icon"></i>
              <%= f.password_field :password, placeholder: "Password" %>
          </div>
        </div><br>
        <div class="field">
          <div class="ui left icon fluid input">
            <i class="lock orange icon"></i>
              <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
          </div>
        </div><br>
          <%= f.submit "Submit", class: "ui fluid yellow large button" %>
      </div>
    <% end %>
    <div class="ui segments">
      <div class="ui secondary segment">
      <center>Already a member? <%=link_to "Log In", login_path, class: "link" %></center>
      </div>
    </div>
    </div>
  </div>
</div>
