<div class="comment">
  <div class="ui segment">
    <div class="content">
      <div class="avatar">
        <%= button_to '+1', upvote_comment_path(comment), method: :post, class: "mini circular ui yellow icon button" %>
        <%= button_to '-1', downvote_comment_path(comment), method: :post, class: "mini circular ui yellow icon button" %>
      </div>
      <%= link_to comment.user.name, user_path(comment.user.id), class: "author" %>
      <div class="metadata">
        <div class="rating">
          <i class="yellow star icon"></i>
            <%= pluralize(comment.votes.where(upvote: true).count - comment.votes.where(upvote: false).count, "vote") %>
        </div>
      </div>
    <div class="text">
      <%= comment.body %>
      <div class="actions">
        <% if comment.user.name == current_user.name %>
          <%= link_to 'Edit', edit_comment_path(comment) %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>


