<li>
  <%= button_to '+1', upvote_game_path(game), method: :post %>
  <%= pluralize(game.votes.where(upvote: true).count - game.votes.where(upvote: false).count, "vote") %>
  <%= button_to '-1', downvote_game_path(game), method: :post %>
  <%= link_to 'Edit', edit_game_path(game) %>
  <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
