<div class="container">

  <div class="center search-bar dropdown">
    <%= form_tag("/search", method: "get") do %>
    <select name="category_id">
      <%= @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
      <%= submit_tag("Search") %>
    </select>
    <% end %>
  </div>

  <div class="row">

    <%= render partial: 'game', collection: @games %>

  </div>

</div>

