<h1>Games#index</h1>
<ul>
  <%= render partial: 'game', collection: @games %>
</ul>

<%= form_for "games#search" do |f| %>
  <select name="category_id">
     <%= @categories.each do |category| %>
       <option value="<%= category.id %>"><%= category.name %></option>
     <% end %>
     <%= f.submit value: "search"%>
  </select>
<% end %>
