<br>
<div class="container">


  <div class="header">
    <h1>Welcome to Kinect4</h1>
  </div>
  <br>

  <ul class='game-list'>

    <!-- <ul> -->

    <%= render partial: 'game', collection: @games %>


    <!-- </ul> -->

    <%= form_for "games#search" do |f| %>
    <select name="category_id">
      <%= @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
      <%= f.submit value: "search"%>
    </select>
    <% end %>
