<div class="ui container">
  <div class="ui segments">
    <div class="ui segment">
      <h1><center><%= @game.title %></center></h1>
      <% if current_user %>
          <% if current_user.games.include?(@game) %>
            <center><%= button_to "- unsubscribe", user_game_subscription_path(current_user, @game, @game.subscriptions.where(game_id: @game.id, user_id: current_user.id)), method: 'delete', action: :destroy, class: "ui small orange button" %></center>
          <% else %>
            <center><%= button_to "+ subscribe", user_game_subscriptions_path(current_user, @game, method: :post), class: "ui small orange button" %></center>
          <% end %>
        <% end %>
    </div>
    <div class="ui segments">
      <div class="ui segment">
         <div class="ui two column grid">
          <div class="row">
            <div class="column">
              <div class="game-description">
                <div class="ui segment">
                  <h3 class="ui dividing header">Game Information</h3>
                  <div class="ui card">
                    <div class="image"><img class="ui medium image" src=<%= @game.image_url %>></div> 

                    <div class="content">
                      <div class="meta">
                        <table>
                          <tr>
                            <td>
                              <% if !@game.votes.pluck(:user_id).include?(current_user.id) %>
                                <%= button_to '+1', upvote_game_path(@game), method: :post, class: "mini circular ui yellow icon button" %>
                              <% end %>
                            </td>
                            <td>
                              <% if !@game.votes.pluck(:user_id).include?(current_user.id) %>
                                <%= button_to '-1', downvote_game_path(@game), method: :post, class: "mini circular ui yellow icon button" %>
                              <% end %>
                            </td>
                            <td>
                              <h3><b>
                                <%= pluralize(@game.votes.where(upvote: true).count - @game.votes.where(upvote: false).count, "vote") %>
                              </b></h3>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="description">
                       <p><b><label>Game Description:</label></b> <%= @game.body %></p>
                        <p><b><label>Min Players:</label></b> <%= @game.min_players %></p>
                        <p><b><label>Max Players:</label></b> <%= @game.max_players %></p>
                        <p><b><label>Playing Time:</label></b> <%= @game.playing_time %></p>
                      </div>
                    </div>
                    <div class="extra content">
                    <h3><i class="orange users icon"></i><b><label>Other Players:</label></b></h3>
                      <% if @players.length > 0 %>
                        <%= render partial: "games/player", collection: @players %>
                      <% else %>
                        <h4>There are no players for this game.</h4>
                      <% end %>
                    </div>
                  </div>
                  <%= render partial: "shared/errors" %>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="game-comments">
                <div class="ui segment">
                  <div class="ui comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <% if @game.comments.length > 0 %>
                      <%= render partial: "games/comment", collection: @game.comments %>
                    <% else %>
                      <h4>There are no comments for this game. <br> Please submit a comment below.</h4>
                    <% end %>
                  </div>
                  <div class="ui stacked secondary segment">
                    <%= form_for([@game, Comment.new]) do |f| %>
                      <div class="field"> <%= f.text_area :body, size: "58x5" %> </div>
                      <div class="actions"> <%= f.submit(class: "ui small teal fluid button") %> </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>