<!-- add players of each game here and restrict view if friend or not showing links -->
<div class="container">


<h2>Welcome to <%= @game.title %></h2>

<div class="voting-buttons">
  <% if !@game.votes.pluck(:user_id).include?(current_user.id) %>
  <%= button_to '+1 vote', upvote_game_path(@game), method: :post %>
  <% end %>
</div>  |  
<div class="voting-buttons">
<%= pluralize(@game.votes.where(upvote: true).count - @game.votes.where(upvote: false).count, "vote") %>
</div>  |  
<div class="voting-buttons">
  <% if !@game.votes.pluck(:user_id).include?(current_user.id) %>
  <%= button_to ' -1 vote', downvote_game_path(@game), method: :post %>
  <% end %>
</div>

<br><br><br>
<img class="ui large circular image" src=<%= @game.image_url %> ><br>
<br><br>
<p><b><label>Game Description:</label></b>
  <%= @game.body %>
  <p><b><label>Min Players:</label></b>
  <%= @game.min_players %></p>
  <p><b><label>Max Players:</label></b>
  <%= @game.max_players %></p>
  <p><b><label>Playing Time:</label></b>
  <%= @game.playing_time %></p>
</p>


<%= render partial: "shared/errors" %>


<!-- game comments here -->

<% if @game.comments.length > 0 %>
  <div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    <%= render partial: "games/comment", collection: @game.comments %>
  </div>
<% end %>

<!-- comment form here  -->

<div class="ui stacked secondary segment loginform">
  <%= form_for([@game, Comment.new]) do |f| %>
    <div class="field">
      <%= f.text_area :body, size: "80x5" %>
    </div>
    <div class="actions">
      <%= f.submit(class: "ui fluid button") %>
    </div>
  <% end %>
</div>


<!-- players partial here -->

  <div>
  <h3>
    Other Players:
  </h3>

  <%= render partial: "games/player", collection: @players %>
  </div>
</div>

