<!-- add players of each game here and restrict view if friend or not showing links -->

<h2>Welcome to <%= @game.title %></h2>
<p>
  <b><label>Game Description:</label></b>
  <%= @game.body %>
</p>

<b><label>Game Comments:</label></b>

<%= render partial: "shared/errors" %>

<% if @game.comments.length > 0 %>
<%= render partial: "games/comment", collection: @game.comments %>
<% end %>

<%= form_for([@game, Comment.new]) do |f| %>
  <div class="field">
    <%= f.text_area :body, size: "80x5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- players partial here -->
<p>
  players of this game
</p>

<%= render partial: "games/player", collection: @players %>
