<!DOCTYPE html>
<html>
<head>
	<title>(kin)ect4</title>
	<%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
	   <%= render 'layouts/header' %>
    </div>
  </div>
</nav>
	<%= yield %>
</body>
</html>

