<!DOCTYPE html>
<html>
<head>
	<title>KinEct4</title>
	<%= csrf_meta_tags %>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
=======
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
>>>>>>> LongTran415/master
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="ui secondary top fixed teal inverted pointing menu">
	<%= render 'layouts/header' %>
</nav><br><br><br>
	<%= yield %>
</body>
</html>

